<?xml version="1.0" encoding="UTF-8"?>
<VRTDataset rasterXSize="280" rasterYSize="240">
  <SRS>GEOGCS["WGS 84",DATUM["WGS_1984",SPHEROID["WGS 84",6378137,298.257223563,AUTHORITY["EPSG","7030"]],AUTHORITY["EPSG","6326"]],PRIMEM["Greenwich",0],UNIT["degree",0.0174532925199433],AUTHORITY["EPSG","4326"]]</SRS>
  <GeoTransform>-57,  0.025,  0,  7,  0, -0.025</GeoTransform>
  <VRTRasterBand dataType="Byte" band="1">
    <ColorInterp>Palette</ColorInterp>
    <SimpleSource>
      <SourceFilename relativeToVRT="0">{{ tif_file_path }}</SourceFilename>
      <SourceBand>1</SourceBand>
      <SourceProperties RasterXSize="280" RasterYSize="240" DataType="Byte" BlockXSize="280" BlockYSize="29" />
      <SrcRect xOff="0" yOff="0" xSize="280" ySize="240" />
      <DstRect xOff="0" yOff="0" xSize="280" ySize="240" />
    </SimpleSource>
    <ColorTable>
      {%- for c in atmo_classes %}
        <Entry c1="{{ c['rgba'][0] }}" c2="{{ c['rgba'][1] }}" c3="{{ c['rgba'][2] }}" c4="{{ c['rgba'][3] }}"/>
      {%- endfor %}
    </ColorTable>
    <CategoryNames>
      {%- for c in atmo_classes %}
        <Category>{{ c['alert_label'] }}</Category>
      {%- endfor %}
    </CategoryNames>
    <Metadata>
      <MDI key="title">Niveau d'alerte atmosphérique (source Sentinel 5P, série aerosol_index_354_388)</MDI>
    </Metadata>
  </VRTRasterBand>
</VRTDataset>
